.collection {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(4, 140px);
  grid-template-rows: repeat(4, 160px);
  gap: 1.5vw;
  background-color: rgb(158, 154, 154);
  padding: 2vw;
  border-radius: 8px;
  margin: 20px;
  /* For IE11, the syntax will be */
  display: -ms-grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width : 1440px) {
  .collection {
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 120px);
  }
}

@media screen and (max-width : 670px) {
  .collection {
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 90px);
  }
}