.collection {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(4, minmax(100px, 160px));
  grid-template-rows: repeat(4, minmax(100px, 160px));
  gap: 1.5vw;
  background-color: rgb(158, 154, 154);
  padding: 2vw;
  border-radius: 8px;
  margin: 20px;
}