.end {
  display: flex;
  justify-content: center;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}