.btn {
  width: 170px;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  box-shadow: 0 0 20px #eee;
  border-radius: 8px;
  outline: none;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.restart {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}